/* General 
----------------------------------------------------------------------------- */

body {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
  color: #535353;
}
*,*:before,*:after {
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}

/* Button 
----------------------------------------------------------------------------- */

.btn {
  font-size: 14px;
  font-family: 'Signika Negative', sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #F5D400;
}
.btn:focus,.btn:active:focus {
  outline: none;
  color: #2271B3;
}
.btn-custom,.btn-custom-sm{
	border: 2px solid rgb(255, 255, 255);
	padding: 0.8em 1.8em;
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
}
.btn-custom:hover,.btn-custom:focus,.btn-custom-sm:hover,.btn-custom-sm:focus{
  color: #fff;
  background-color: #2271B3;
  border-color: #6C6767;
}
.btn-custom-sm {
	padding: 0.5em 1em;
}
  
/* Navigation Bar
----------------------------------------------------------------------------- */

.topnav {
	background-color: #2271B3;
	overflow: hidden;
	font: "Verdana";
  }
  .topnav-title{
	padding: 0;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 20px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 20px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #F3FF52;
	color: #2271B3
  }
  
  .topnav a.active {
	background-color: #04AA6D;
  }

/* Help-classes */
.no-padding {
	padding: 0px;
}

.title {
	font-family: 'Kameron', serif;
	font-weight: 700;
}

.center-text{
	text-align: center;
}

/* Home section */
.main-home {
	padding: 330px 0px 250px 0;
	z-index: 1;
	text-align: center;
	position: relative;
	font-size: 13px;
	color: #fff;
	background: #000;
	min-height: 400px;
}
.home-page-photo {
	background-image: url(https://storage-prtl-co.imgix.net/endor/organisations/9951/images/1557871732_campus-life-2.jpg);
	background-size: cover;
	z-index: -1;
	position: absolute;
	top: 0;
	opacity: 0.50;
	right: 0;
	bottom: 0;
	left: 0;
}

.home-header {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.home-header p{
	font-weight: 300;
	font-size: 16px;
	margin-top: 20px;
}
.home-header a.btn-default {
	margin-top: 15px;
}
#main-section .intro-text {
	color: #ffffff;
	font-weight: 300;
	margin-bottom: 30px;
}
/* Footer */
.page-footer{
	padding: 0;
}