/* General 
----------------------------------------------------------------------------- */

body {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
  color: #535353;
}
*,*:before,*:after {
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
.custom-color {
	color: #2271B3;
}
.custom-background-color {
	background-color: #F5D400;
}

/* Button 
----------------------------------------------------------------------------- */

.btn {
  font-size: 14px;
  font-family: 'Signika Negative', sans-serif;
  text-transform: uppercase;
  border-radius: 0;
}
.btn:focus,.btn:active:focus {
  outline: none;
}
.btn-custom,.btn-custom-sm{
	border: 2px solid rgb(255, 255, 255);
	padding: 0.8em 1.8em;
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
}
.btn-custom:hover,.btn-custom:focus,.btn-custom-sm:hover,.btn-custom-sm:focus{
  color: #fff;
  background-color: #2271B3;
  border-color: #6C6767;
}
.btn-custom-sm {
	padding: 0.5em 1em;
}
  
/* Navigation Bar
----------------------------------------------------------------------------- */

.topnav {
	background-color: #2271B3;
	overflow: hidden;
	font: "Verdana";
  }
  
  .topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 20px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #F3FF52;
	color: #2271B3;
  }
  
  .topnav a.active {
	background-color: #04AA6D;
  }

  .topnav a.nav-title{
	float: left;
  }

/* Help-classes */
.no-padding {
	padding: 0px;
}

.title {
	font-family: 'Kameron', serif;
	font-weight: 700;
}

.center-text{
	text-align: center;
}

/* Home section */
.main-home {
	padding: 330px 0px 250px 0;
	z-index: 1;
	text-align: center;
	position: relative;
	font-size: 13px;
	color: #fff;
	background: #000;
	min-height: 400px;
}
.home-page-photo {
    background-image: url(uoa_library.png);
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    opacity: 0.50;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-header {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.home-header p{
	font-weight: 300;
	font-size: 16px;
	margin-top: 20px;
}
.home-header a.btn-default {
	margin-top: 15px;
}
#main-section .intro-text {
	color: #ffffff;
	font-weight: 300;
	margin-bottom: 30px;
}


/* Books section */
.book-section {
    background-color: #2271B3;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: #2271B3;
    padding: 10px;
}
  
.grid-container > div {
    background-color: #F5D400;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    padding-bottom: 15px;
}

.box-in-grid {
    left: 10;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    font-size: 15px;
    border: 3px solid #2271B3;
    padding-left: 10px;
    padding-right: 10px;
}

/* Footer */
.page-footer{
	padding: 0;
}


/* The form */
.sign-up-form {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.form-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.form-title{
	color: #000000;
	font-size: 30px;
	font-weight: 5px;
}

.form-section-title{
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
